<dom-module id="stepped-animation">
    <link rel="stylesheet" type="text/css" href="css/stepped-animation.css">
    <template>
        <canvas></canvas>
    </template>
    <script defer src="//code.createjs.com/createjs-2015.11.26.min.js"></script>
    <script src="js/stepped-animation.js"></script>
</dom-module>